<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisaan App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align: center;">
    
<nav>
    <img src="/static/logo.jpeg" width="50" style="margin-right: 10px;">

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/artisans">Find Artisan</a>
        <a href="/add-artisan">Register as Artisan</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</nav>    
    <h1>Welcome to Artisaan's Crib</h1>
    <p>Find trusted artisans for your everyday needs...</p>
    <a href="/artisans">
        <button>Find an Artisan</button>
    </a>
<hr>

<h2>What is Artisaan Crib</h2>

<p>
    Artisaan's Crib is a platform designed to connect people with trusted and skilled artisans
    for their everyday needs. Whether you need a plumber, electrician, tailor, or any other professional service.
    Artisaan's Crib helps you find the right person quickly and easily.
    With Artisaan's Crib, you no longer need to struggle to find dependable help, everything you need is
    in one place.
</p>

<h3>What You Can Do</h3>
<ul>
    <li>Find trusted artisans near you.</li>
    <li>View artisan's profile and skill.</li>
    <li>Choose professionals based on your needs.</li>
</ul>

<h3>Our Mission</h3>
<p>
    Our goal is to make it simple for users to discover reliable artisans, view their profiles, and choose
    based on their skills and experience. We aim to build trust between artisans and clients by providing 
    a space where quality service meets convenience.
</p>

<h3>Why use Artisaan's Crib?</h3>
<ul>
    <li>Fast and easy access to services.</li>
    <li>Reliable and skilled professionals.</li>
    <li>Everything in one place.</li>
</ul>

</body>
</html>